<div class="container-fluid">
  <div class="row ppalRow">
    <div class="col-md-3 col-lg-2 align-items-start navbar">

      <!-- Barra Lateral de Navegación -->
      <app-navegacion></app-navegacion>
    </div>
    <div class="col-md-9 col-lg-10 contenido">

        <!-- Barra Superior de Herramientas -->
        <app-herramientas-bar></app-herramientas-bar>


        <div class="contenedor">

          <div class="animation-fondo">
            <div class="logo-container">
              <div class="logo"><img src="assets/IconoWhite.png" alt="Logo"></div>
            </div>

            <!-- Utilizado para generar las particulas de fondo -->
            <div class="particle particle-1"></div>
            <div class="particle particle-2"></div>
            <div class="particle particle-3"></div>
            <div class="particle particle-4"></div>
          </div>

        </div>

    </div>
  </div>
</div>



