<div class="cabecera">
  <mat-icon>person</mat-icon>
  <h2 mat-dialog-title>{{titulo}}</h2>
</div>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formulario" method="POST">

      <!-- Usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="usuario">
        <mat-error>
          Ingresa un usuario
        </mat-error>
      </mat-form-field>

      <!-- Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
        <mat-error>
          Completa con un nombre
        </mat-error>
      </mat-form-field>

       <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error>
          El email no tiene un formato correcto
        </mat-error>
      </mat-form-field>

      <!--Cargos-->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="idCargo">
          <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

       <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="pass" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>

    <mat-dialog-actions align="center">
      <button class="btn-action" mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)='modificando? Modificar() : Agregar()' >ACEPTAR</button>
      <button class="btn-action" mat-flat-button color="warn" mat-dialog-close>CANCELAR</button>
    </mat-dialog-actions>
